.top-navigation-container
  .logo
    Interface
  %nav.top-navigation
    %ul
      %li
        = link_to 'Link', '#features'
      %li
        = link_to 'Link2', '#history'
      %li
        = link_to 'Link3', '#about'