%ul.mobilenavlinks
  %li
    %a.icon{:href => "index.html"}
      %i.icon-paper-plane
      %span.i-name Home
  %li
    %a.icon{:href => "work.html"} 
      %i.icon-beaker
      %span.i-name Work
  %li
    %a.icon{:href => "about.html"}
      %i.icon-fire
      %span.i-name About
  %li
    %a.icon{:href => "contact.html"}
      %i.icon-location
      %span.i-name Contact
  %hr.full
  %li
    %a.icon.small{:href => "http://www.facebook.com"}
      %i.icon-facebook-rect
      %span.i-name Facebook
  %li
    %a.icon.small{:href => "http://www.twitter.com"}
      %i.icon-twitter-bird
      %span.i-name Twitter