<div class='footer-container'>
  <footer>
    <img src="{{ 'footer/logo-footer.png' | theme_image_url }}" />
    <div class='footer-links'>
      <h5>DEPARTMENTS</h5>
      <ul>
        <li>
          {% link_to 'product-services' %}City Manager{% endlink_to %}
        </li>
        <li>
          <a href="{% path_to case-studies %}">City Secretary</a>
        </li>
        <li>
          <a href="{% path_to crane %}">Finance</a>
        </li>
        <li>
          <a href="{% path_to partnership %}">Human Resource</a>
        </li>
        <li>
          <a href="{% path_to about %}">Code Enforcement</a>
        </li>
        <li>
          <a href="{% path_to 'Contact' %}">Public Works</a>
        </li>
        <li>
          <a href="{% path_to contact %}">Municipal Court</a>
        </li>
        <li>
          <a href="{% path_to contact %}">Library</a>
        </li>
        <li>
          <a href="{% path_to contact %}">Police</a>
        </li>
        <li>
          <a href="{% path_to contact %}">Fire</a>
        </li>
        <li>
          <a href="{% path_to contact %}">Parks &amp; Recreation</a>
        </li>
      </ul>
    </div>
    <div class='footer-links'>
      <h5>COMMUNITY</h5>
      <ul>
        <li>
          <a href="{% path_to product-services %}">Events</a>
        </li>
        <li>
          <a href="{% path_to case-studies %}">Calendar</a>
        </li>
        <li>
          <a href="{% path_to crane %}">Vital Statistics</a>
        </li>
      </ul>
    </div>
    <div class='footer-links'>
      <h5>CITY COMMISSION</h5>
      <ul>
        <li>
          <a href="/product-services.html">Agenda & Minutes</a>
        </li>
        <li>
          <a href="{% path_to case-studies %}">City Council</a>
        </li>
      </ul>
    </div>
    <div class='footer-links'>
      <h5>EDC</h5>
      <ul>
        <li>
          <a href="{% path_to product-services %}">New Projects</a>
        </li>
        <li>
          <a href="{% path_to case-studies %}">Resources</a>
        </li>
        <li>
          <a href="{% path_to case-studies %}">Business &amp; Industrial Development</a>
        </li>
      </ul>
    </div>
    <div class='footer-links'>
      <h5>VISITORS</h5>
      <ul>
        <li>
          <a href="{% path_to product-services %}">Places to Visit</a>
        </li>
        <li>
          <a href="{% path_to case-studies %}">History</a>
        </li>
      </ul>
    </div>
    <div class='footer-links last'>
      <h5>CONTACT</h5>
      <ul>
        <li>
          <span>Office:</span>
          <span>956 - 555 - 5555</span>
        </li>
        <li>
          <span>Fax:</span>
          <span>956 - 555 - 5555</span>
        </li>
        <li>
          <span>Email:</span>
          <span>elsa@cityofelsa.net</span>
        </li>
      </ul>
    </div>
    <div class='link-back'>
      <h6>© 2016 City of Elsa. All rights reserved.</h6>
      <a href="{% path_to /www.createthebridge.com %}">Website Design</a>
      <span>by</span>
      <a href="{% path_to /www.createthebridge.com %}">Create the Bridge</a>
    </div>
    <div class='social'>
      <a href='#'>
        <img src="{{ 'footer/facebook.svg' | theme_image_url }}" />
      </a>
    </div>
  </footer>
</div>
