---
title: Home
description: Cooling, Crane-Lifts, and Electric services—let us help you with your next project. Visit our page.
keywords: cooling, crane-lift, electraic services, quick cranes, general contractors
sitename: City of Elsa
url: http://www.cityofelsa.com
---

.home-container
  %header
    #particles-js
    .header-container
      %h1 This is Elsa.
      %p Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.

  %section.see-do-container
    %h2 See &amp; Do
    %hr.see-do
    .events-container.owl-carousel
      .event-one
        %h6 EVENTS
        %hr
        %h4 An Upcoming Events Title
        %h5 This is a description of the event illustrated in this container and image.
      .event-two
        %h6 EVENTS
        %hr
        %h4 An Upcoming Events Title
        %h5 This is a description of the event illustrated in this container and image.
      .event-three
        %h6 EVENTS
        %hr
        %h4 An Upcoming Events Title
        %h5 This is a description of the event illustrated in this container and image.

  %section.quick-links
    .left
      %a.bills-online{:href => "#"}
        %hr
        %h4
          %span Don't struggle.
          %br
          %span Pay your bills online.
      %a.press{:href => "#"}
        %hr
        %h4 Keep up with the Press.
        %h5 VISIT
        .press-img
          = image_tag 'home/press-img.png'

    .right
      %a.calendar{:href => "#"}
        %hr
        %h4 View our Calendar for more upcoming events.
        .calendar-img
          = image_tag 'home/calendar-img.png'

      %a.report-crime{:href => "#"}
        %hr
        %h4
          %span On the watch?
          %br
          %span Report a crime.

  %section.visit-us
    %h2 Visit Us
    %hr.visit-us
    #google-map
      .map

  %section.be-social
    %h2 Be Social
    %hr.be-social
    .facebook
