---
title: Home
handle: index
position: 1
---

{% extends 'layout' %}

{% block main %}

  <div class='home-container'>




    {% block 'header' %}
      {% capture banner_url %}
        {% editable_file 'banner' %}/samples/home/elsa-tower.jpg{% endeditable_file %}
      {% endcapture %}

      <header style="background-image: url({% editable_file 'banner' %}/samples/home/elsa-tower.jpg{% endeditable_file %})">
        <div id='particles-js'></div>

        <div class='header-container' >
          <h1>
            {% editable_text 'heading' %}
              This is Elsa.
            {% endeditable_text %}
          </h1>
          <p>
            {% editable_text 'sub-heading' %}
              Welcome to a city where ipsum dolor sit amet consectetur adipiscing elit.
            {% endeditable_text %}
          </p>
        </div>
      </header>
    {% endblock %}






    {% block 'see-and-do' %}
      <section class='see-do-container'>
        <h2>
          {% editable_text 'title' %}
            See &amp; Do
          {% endeditable_text %}
        </h2>
        <hr class='see-do'>
        <div class='events-container owl-carousel'>
          {% for event in contents.events %}
            <div class="event-one" style="background-image: url({{ event.background.url }})">
              <h6>EVENTS</h6>
              <hr>
              <h4>{{ event.title }}</h4>
              <h5>{{ event.description }}</h4>
            </div>
          {% endfor %}
        </div>
      </section>

    {% endblock %}




    {% block 'quick-links' %}

      <section class='quick-links'>
        <div class='left'>

          {% block 'quick-links/bills-online' %}
            <a class='bills-online' href='#' style="background-image: url({% editable_file 'image' %}/samples/home/bills-online-img.jpg{% endeditable_file %})">
              <hr>
              <h4>
                <span>{% editable_text 'heading' %}Don't struggle.{% endeditable_text %}
                <br>
                <span>{% editable_text 'sub-heading' %}Pay your bills online.{% endeditable_text %}</span>
              </h4>
            </a>
          {% endblock %}



          {% block 'quick-links/press' %}
            <a class='press' href='#'>
              <hr>
              <h4>{% editable_text 'heading' %}Keep up with the Press.{% endeditable_text %}</h4>
              <h5>{% editable_text 'link' %}VISIT{% endeditable_text %}</h5>
              <div class='press-img'>
                <img src="{% editable_file 'image' %}/samples/home/press-img.png{% endeditable_file %}" />
              </div>
            </a>
          {% endblock %}
        </div>
        <div class='right'>

          {% block 'quick-links/calendar' %}
            <a class='calendar' href='#'>
              <hr>
              <h4>{% editable_text 'label' %}View our Calendar for more upcoming events.{% endeditable_text %}</h4>
              <div class='calendar-img'>
                <img src="{% editable_file 'image' %}/samples/home/calendar-img.png{% endeditable_file %}"/>
              </div>
            </a>
          {% endblock %}

          {% block 'quick-links/report-crime' %}
            <a class='report-crime' href='#' style="background-image: url({% editable_file 'report-crime-image' %}/samples/home/report-crime-img.jpg{% endeditable_file %})">
              <hr>
              <h4>
                <span>{% editable_text 'heading' %}On the watch?{% endeditable_text %}</span>
                <br>
                <span>{% editable_text 'sub-heading' %}Report a crime.{% endeditable_text %}</span>
              </h4>
            </a>
          {% endblock %}


        </div>
      </section>

      <section class='visit-us'>
        <h2>Visit Us</h2>
        <hr class='visit-us'>
        <div id='google-map'>
          <div class='map'></div>
        </div>
      </section>
      <section class='be-social'>
        <h2>Be Social</h2>
        <hr class='be-social'>
        <div class='facebook'></div>
      </section>

    {% endblock %}

  </div>

{% endblock %}
