.footer-container {
  position: relative;
  background: #f7f7f7 image-url('footer/palms.png') no-repeat center center;
  background-size: cover;
}

footer {
  @include container(87.5em);
  padding: 2em 3em;
  box-sizing: border-box;

  .footer-links {
    @include span(2 of 12);
  }

  a {
    font-size: .8em;
    color: #999;
    letter-spacing: 0;

    &:hover {
      color: $teal;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 2em 0 4em 0;
  }

  h5 {
    color: $maroon;
  }

  .footer-links.last {
    @include span(2 of 12 last)
  }

  li > span {
    font-size: .8em;
  }

  .social {
    @include span(6 last);
    padding: 1em 0;

    img {
      padding: 3em 0 1em 0;
    }
  }

  .link-back {
    @include span(6);
    text-align: left;
    padding-top: 3em;
    padding-bottom: 1em;
    clear: both;

    a {
      color: $medium-gray;
      font-weight: 700;
    }
  }

  @media only screen and (max-width:768px) {
    .footer-links {
      @include span(4 of 12);
      margin-top: 1em;

      &:nth-of-type(3) {
        @include span(4 of 12 last);
      }
    }

    .footer-links.last {
      @include span(4 of 12 last)
    }
  }

  @media only screen and (max-width:680px) {
    .footer-links {
      @include span(12 of 12);

      &:nth-of-type(3) {
        @include span(12 of 12);
      }

      &:nth-of-type(2), &:nth-of-type(4), {
        @include span(12 of 12);
      }
    }

    .footer-links.last {
      @include span(12 of 12);
    }
  }
}
